
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');


#login-form{
  background: linear-gradient(90deg, #ffefe5, #FFF7F4);	
  padding: 70px 0;
  height: 100vh;
}
#login-form .container-form {
  width: 450px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ffffff;
  margin-top: 30px;
  box-shadow: 14px 14px 20px #dcd7d5, -14px -14px 30px #FFF7F4;
}

#login-form .brand-logo {
  height: 100px;
  width: 100px;
  /* background: url(""); */
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#login-form .brand-logo img {
  width:60px;
  height:60px;
}

#login-form .brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #B8835F;
  letter-spacing: 1px;
}

#login-form .inputs {
  text-align: left;
  margin-top: 30px;
}

#login-form label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

#login-form label {
  margin-bottom: 4px;
}

#login-form label:nth-of-type(2) {
  margin-top: 12px;
}

#login-form input::placeholder {
  color: gray;
}

#login-form input {
  background: #ecf0f3;
  width: 350px;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

#login-form button {
  color: white;
  width: 350px;
  margin-top: 20px;
  background: #B8835F;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  margin-bottom: 55px;
}

#login-form button:hover {
  box-shadow: none;
}
#login-form h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.container-form a {
  text-decoration: none;
  color: black;
}
.container-form a:hover {
  color: #B8835F;
  text-decoration: none;
}

.link-register{
  text-decoration: underline !important;
  margin-left: 40px;
}
