.container-page-blog{
    background-image: url("../../../assets/img/cover-blog.png");
    background-size: cover;

}

.form-post-blog{
    display: flex;
    justify-content: center;
}

.input-new-post{
    margin: 2px 4px;
    padding: 7px 7px;
    background-color: #ecf0f3;
    border: none;
    border-radius: 5px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
/************Media Query ************/

@media screen and (max-width: 768px) {


    .form-post-blog{
        flex-wrap: wrap;
        gap : 10px
    }

}