.title-hello-user{
    font-size: 2rem;
    font-family: 'Helvetica', sans-serif;

    margin-top: 4rem;
    margin-left: 2rem;
}

.container-card-user{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 4rem auto ;
    justify-content: center;
    align-items: center;
}


.card-user-profil {
    width: 350px;
    height: 250px;
}

.img-card-user-profil{
    height: 300px;
}


.link-card-user{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Helvetica', sans-serif;
}

.link-card-user:hover{
    color: #B8835F;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .container-card-user{
        margin-left : 2px;
        gap: 2rem;
    }
    .card-user-profil{
        width : 15rem;
        height: 11rem;

    }
    .img-card-user-profil{
        height: 120px
    }
}