.container-card-user{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    margin: 4rem auto ;
    justify-content: center;
    align-items: center;
}

.card-user-profil{
 width : 28rem;
}

.link-card-user{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Helvetica', sans-serif;
}

.link-card-user:hover{
    color: #B8835F;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .container-card-user{
        margin-left : 2px;
        gap: 2rem;
    }
    .card-user-profil{
        width : 15rem;
        height: 11rem;

    }
}