
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');


#user-edit-form .container-form {
  width: 800px;
  height: 600px;
  margin-left: 14%;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #f5f8fa;
  margin-top: 30px;
  box-shadow: 14px 14px 20px #d1cfcb, -14px -14px 20px white;
  margin-bottom: 50px;
}

#user-edit-form .brand-logo {
  height: 100px;
  width: 100px;
  /* background: url(""); */
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

#user-edit-form .brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #B8835F;
  letter-spacing: 1px;
}

#user-edit-form .container-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  text-align: left;
  margin-top: 30px;
  gap: 30px;

}

#user-edit-form label, .input-user-edit, .btn-user-edit {
  display: block;
  width: 40%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.div-btn-edit-user{
    display: flex;
    justify-content: center;
    width: 90%;
}



#user-edit-form label:nth-of-type(2) {
  margin-top: 12px;
}

#user-edit-form .input-user-edit::placeholder {
  color: gray;
}

#user-edit-form .input-user-edit {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  margin-bottom: 20px;
}

#user-edit-form .button-user-edit {
  color: white;
  margin-top: 20px;
  background: #B8835F;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

#user-edit-form  .button-user-edit:hover {
  box-shadow: none;
}

#user-edit-form a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: #EBCEB5;
  border-radius: 10px;
  padding: 2px;
}

#user-edit-form h1 {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 700px) {
    #user-edit-form .container-form {
        margin-top: -20px;
        width: 400px;
        height: 700px;

    }
    #user-edit-form .container-inputs {
        flex-direction: column;
        gap: 10px;
    }
    #user-edit-form label, .input-user-edit, .btn-user-edit {
        width: 100%;
    }
}