.container-card-user{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    width: 60rem;
    margin-left : 4rem;
    margin-bottom: 5rem;
    justify-content: center;
}

.card-user-profil{
   width : 25rem;
}

.link-card-user{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Helvetica', sans-serif;
}

.link-card-user:hover{
    color: #B8835F;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .container-card-user{
        display: block;
        width: 30rem;
        margin-left : 2rem;
    }
    .card-user-profil{
        width : 20rem;
        margin-bottom: 4rem;
    }
}