#user-layout{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    
}

#user-body{
    margin-top: 50px;
}

// MEDIA QUERY
@media screen and (max-width: 700px) {
    #user-layout{
        gap: .5rem;
    }
    #user-body{
        margin-top: 10px;
        margin-left: 0;
    }
}


