.header-user{
 display: flex;
 flex-direction: row;
 justify-content: end;
 gap: 30px;
 position: absolute;
 top: 20px;
 right: 50px;
}

.link-basket-user{
  background-color: white;
  color: #98603e;
  margin-top: 5px;
  font-size: 18px;
}

.link-basket-user:hover{
  color: #A26A48;
  text-decoration: none;

}

.logout-btn-user{
  width : 100px;
  background-color : #A26A48;
  color : white;
  border-radius: 5px;
  padding: 5px;
}

.logout-btn-user:hover{
  background-color : white;
  color : #A26A48;
  border: #A26A48 1px solid;
}

