@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.sidebar-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.sidebar-toggle {
  display: none;
  background-color: #fbf0e5;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  padding: 10px 20px;
  border-top-right-radius: 80px;
}


.sidebar-menu {
  width: 300px;
  background-image: linear-gradient(30deg ,#fbf0e5, #FCE9D8);
  height: 100vh;
  border-top-right-radius: 80px;
  text-align: left;
  width: 250px;
  padding-left: 30px;
  padding-top: 40px;
}

.link-side-bar-logo{
margin : 0px 0px 50px 30px;
}
.logo-side-menu-user{
  width: 90px;
  height: 90px;
  margin-bottom: 30px;
}

.sidebar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu a .icon {
  margin-right: 10px;
  margin-top: -5px;
}


.sidebar-menu .link-side-bar{
  font-size: 14px;
  color: #A26A48;
  display: block;
  padding: 12px;
  padding-left: 20px;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}

.sidebar-menu .link-side-bar:hover{
  color: #A26A48;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar-menu .link-side-bar:hover::after{
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

.sidebar-menu .link-side-bar:hover::before{
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}
.btn-close-side-bar{
  display: none;
}
@media screen and (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }
  
  .sidebar-menu {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #f8f8f8;
    transition: all 0.3s ease;
  }

  .sidebar-menu.open {
    left: 0;
  }
  .btn-close-side-bar{
    display: block;
    background-color: #FCE9D8;
    width: 20px;
    text-align: right;
  }
}

