.container-user-list{

    margin-top: 10rem;
    margin-left: 10rem;

}
.css-1ygcj2i-MuiTableCell-root{
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    color: var(--text-color) !important;
}

.css-1ex1afd-MuiTableCell-root{
    font-size: 1.1rem !important;
    color: var(--text-color) !important;
}
.css-1ndpvdd-MuiTableCell-root{
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    color: var(--text-color) !important;
}

.css-1yhpg23-MuiTableCell-root{
    font-size: 1.1rem !important;
    color: var(--text-color) !important;
}

//MEDIA QUERY

@media screen and (max-width: 768px) {
    .container-user-list{
        margin-top: 6rem;
        margin-left: 2rem;
    }

    .css-1ygcj2i-MuiTableCell-root{
        font-size: 0.8rem !important;
        font-weight: 600 !important;
        color: var(--text-color) !important;
    }
    .css-1ex1afd-MuiTableCell-root{
        font-size: 0.8rem !important;
        color: var(--text-color) !important;
    }
    .css-1ndpvdd-MuiTableCell-root{
        font-size: 0.8rem !important;
        font-weight: 600 !important;
        color: var(--text-color) !important;
    }
    .css-1yhpg23-MuiTableCell-root{
        font-size: 0.8rem !important;
        color: var(--text-color) !important;
    }
}